<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/administracion.css" />
    <title>Administracion</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <p>Resta<span class="span-logo">urante</span></p>
      </div>
      <nav class="nav-bar">
        <a href="/">Inicio</a>
        <a href="">Menu</a>
        <a href="reservas">Reservaciones</a>
        <a href="pedidos">Pedidos</a>
        <a href="auth">Administracion</a>
      </nav>
    </header>
    <section class="administracion">
      <h1>Administracion</h1>
      <div class="container-administracion">
        <div class="container-item">
          <div class="img">
            <img
              src="./img/pexels-andrea-piacquadio-853151.jpg"
              alt="Reservaciones"
            />
          </div>
          <a href="reservaciones">Reservaciones</a>
        </div>
        <div class="container-item">
          <div class="img">
            <img
              src="./img/pexels-karolina-grabowska-5632382.jpg"
              alt="Registro de ventas"
            />
          </div>
          <a href="ventas">Registrar ventas</a>
        </div>
        <div class="container-item">
          <div class="img">
            <img
              src="./img/pexels-nataliya-vaitkevich-6863193.jpg"
              alt="Facturas"
            />
          </div>
          <a href="facturas">Facturas</a>
        </div>
        <div class="container-item">
          <div class="img">
            <img src="./img/pexels-cottonbro-3585090.jpg" alt="usuarios" />
          </div>
          <a href="usuarios">Usuarios</a>
        </div>
        <div class="container-item">
          <div class="img">
            <img
              src="./img/pexels-karen-laårk-boshoff-9980748.jpg"
              alt="pedidos"
            />
          </div>
          <a href="registropedidos">Registro de Pedidos</a>
        </div>
      </div>
    </section>
  </body>
</html>
