body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/pexels-rene-asmussen-1581384.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  color: white;
  font-size: 1.5rem;
  margin-left: 20px;
}

.span-logo {
  color: yellow;
}

.nav-bar {
  margin-right: 50px;
}

.nav-bar a {
  color: white;
  margin: 20px;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.reservaciones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservaciones h1 {
  color: white;
  font-size: 2rem;
}

.container-reservaciones {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-reservaciones {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  background-image: url("../img/hojafondo.jpeg");
  background-position: center;
  background-size: cover;
  margin: 80px;
}

.card-reservaciones h1 {
  color: black;
  font-size: 1.2rem;
}

.card-reservaciones p {
  color: black;
  font-size: 0.9rem;
}

.card-reservaciones .btn-eliminar {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background: red;
  color: white;
}

.card-reservaciones .btn-eliminar:hover {
  background: linear-gradient(red 60%, white);
  cursor: pointer;
  width: 120px;
  height: 35px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header .logo {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .span-logo {
    color: yellow;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .nav-bar a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .nav-bar a:hover {
    text-decoration: underline;
  }

  .reservaciones h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .container-reservaciones {
    width: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .card-reservaciones {
    width: 400px;
    height: 250px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    background-image: url("../img/hojafondo.jpeg");
    background-position: center;
    background-size: cover;
  }

  .card-reservaciones h1 {
    color: black;
    font-size: 1.2rem;
  }
}
